<input type="text" id="inp_command" style="width:300px" />
<button type="button" id="but_submit">command</button>
<br><br>
<h3>Get your password hashed:</h3>
<input type="text" id="inp_password" style="width:300px" />
<div id="display_hash" style="font-size:10px" />
