<h2>Module Name: <input id="input_id" type="text" /></h2>
<select id="editor_mode">
	<option>CoffeeScript</option>
	<option>JavaScript</option>
</select>
<select id="editor_theme">
	<option value="monokai">Monokai</option>
	<option value="crimson_editor" selected>Crimson Editor</option>
</select>
<select id="editor_font">
	<option>10px</option>
	<option>11px</option>
	<option>12px</option>
	<option>13px</option>
	<option>14px</option>
	<option>15px</option>
	<option>16px</option>
	<option selected>18px</option>
	<option>20px</option>
	<option>24px</option>
</select><!--  is public: <input type="checkbox" id="is_public" checked/> -->
<table id="editor_table">
	<tr>
		<td id="editor_col" valign="top">
			<div id="editor"></div>
		  <button id="but_submit">save</button>
		</td>
		<td id="params_col" valign="top">
			This module requires user-specific properties:
			<table id="tableParams"></table>
		</td>
	</tr>
</table>