<h3>Rule Name : <input id="input_id" type="text" value="My new Rule"></h3>

<h2>EVENT</h2>
<div id="event_type">
	<h4>Event Type : 
	<select id="select_event_type">
		<option></option>
		<option>Custom Event</option>
		<option>Webhook</option>
		<option>Event Poller</option>
	</select>
	</h4>
</div>
<div id="event_parameters"></div>

<table>
<tr><td>
<h2>CONDITIONS</h2>
<select id="editor_theme">
	<option value="monokai">Monokai</option>
	<option value="crimson_editor" selected>Crimson Editor</option>
</select>
<select id="editor_font">
	<option>10px</option>
	<option>11px</option>
	<option>12px</option>
	<option>13px</option>
	<option>14px</option>
	<option>15px</option>
	<option>16px</option>
	<option selected>18px</option>
	<option>20px</option>
	<option>24px</option>
</select>
<div id="conditions">
Refer to <a target="_blank" href="https://github.com/harthur/js-select#selectors">js-select selectors</a> for valid selectors!<br>
	<div id="editor_conditions">
[ ]
	</div>
</div>
<button class="outent20" id="fill_example">Fill with example condition</button>
</td></tr>
<tr><td>

	<h2>ACTIONS</h2>
	<select id="select_actions"><option></option></select>
	<br><br>
	<div id="action_parameters"></div>
	<br><br>
	<button id="but_submit">Save Rule</button>
</td></tr></table>
