<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        {% for priority in (0..site.max_priority) %}
          {% for page in site.pages %}
            {% if page.priority %}
            {% assign prio = page.priority %}
            {% else %}
            {% assign prio = site.max_priority %}
            {% endif %}
            {% if page.title %}
              {% if prio == priority %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
