{% assign entries = site.pages | sort: "priority" %}
<header class="site-header">
	<div class="wrapper">
		<nav class="site-nav">
			<ul>
				<li>
					<a href="{{ site.baseurl }}/">Home</a>
				</li>
  				{% for section in site.navigation %}
  					{% assign link = '/pages/' | append: section.folder | append: '.html' %}
					{% assign list = (entries | where: "folder", section.folder) %}
					<li>
						<a {% if page.url == link %}class="active"{% endif %} href="{{ site.baseurl | append: link }}">{{ section.text }}</a>
						{% unless list == empty %}
							<ul class="trigger">
								{% for entry in list %}
									<li>
										<a class="page-link {% if page.url contains entry.url %}active{% endif %}" href="{{ site.baseurl | append: entry.url }}">{{ entry.title }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endunless %}
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>