
h1 {
	margin-top: 5px;
	font-size: 2.1em;
}

h2 {
	font-size: 1.8em;
	margin-left: -10px;
	padding-left: 10px;
	background: #e7e7e7;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
}

h2.capitalized::first-letter {
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	font-size: 1.5em;
	padding-top: 10px;
}

h4 {
	font-size: 1.2em;
	padding-top: 10px;
}

th {
	white-space: nowrap;
	padding-right: 10px;
}

#bannerimg {
	padding-left: 2%;
	max-height: 90px;
}

nav.navbar {
	min-height: 0;
	margin-bottom: 0;
}

.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
}

.navbar-toggle {
	margin-left: 1%;
	float: left;
}

#skeletonTicker {
	height: 1.5em;
	padding-left: 20px;
	font-family: Tahoma, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	color: #fff;
}

.infoimg {
	margin-left: 10px;
	width: 17px;
	height: auto;
	content: url("/images/info.png")
}

.inputerror {
	background-color: #933;
	color: #FFF;
}

.error {
	background-color: #933;
}

.success {
	background-color: #150;
}

.row {
	padding-bottom: 10px;
}

.smallpadded {
	padding: 3px;
}
.mediummarged {
	margin: 6px;
}
.bigmargeleft {
	margin-left: 20px;
}
.smallmarged {
	margin: 3px;
}

input {
	margin: 6px 4px;
	font-family: "Lucida Console", Monaco, monospace;
}

table .centered {
	text-align: center;
}

table.padded td {
	padding: 2px;
}

table.list .highlight {
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
	padding-right: 20px;
}

.hundredwide {
	width: 100%;
}

.seventywide {
	width: 70%;
}

.smallfont {
	font-size: 0.8em;
}
.nowrap {
	white-space: nowrap;
}

#mainbody {
	padding-left: 2%;
	padding-right: 2%;
}

.editorSettings {
	padding-left: 20px;
	font-size: 0.8em;
}

#editor {
	border: 1px solid lightgray;
	width: 100%;
}

#editor.modules {
	height: 400px;
}

#loginTable {
	float: left;
	text-align: center;
	margin-top: 15px;
	margin-left: 50px;
}

#loginTable td {
	padding: 3px 4px;
}

#tooltip {
	max-width: 300px;
	overflow: hidden;
	font-size: 0.9em;
	z-index: 20;
	position: absolute;
	padding: 7px 14px;
	margin: 20px;
	background: #FFF;
	border: 1px solid #666;
	display: none;
}

#tooltip .title {
	font-weight: bold;
	font-size: 1.3em;
}

#tooltip kbd {
	font-size: 0.8em;
}

#table_webhooks td {
	padding-right: 10px;
}

#tabletl td {
	font-size: 0.9em;
	padding-left: 15px;
	padding-top: 5px;
}

#tabletl button {
	width: 120px;
}

.float-div {
	float: left;
	/*margin: 10px;*/
}

.thirtyhigh {
	height: 30px;
}

.twohundred-wide {
	height: 40px;
	width: 180px;
}

img.tl.red {
	content: url( "/images/tl_red.png" );
}

img.tl.green {
	content: url( "/images/tl_green.png" );
}

img.del {
	cursor: pointer;
}

#tls select, #tls input {
	margin: 3px;
}

#tls select {
	margin-top: 6px;
}

#but_rule {
	margin-left: 3px;
}


/*
h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}
*/

/*#header {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #666;
}
*/
/*
input[type=text],
input[type=password] {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 2px 0px 2px 3px;
	margin: 2px 1px 2px 0px;
	border: 1px solid #DDDDDD;
}
 
input[type=text]:focus,
input[type=password]:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 2px 0px 2px 3px;
	margin: 2px 1px 2px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

button {
	font-size: 1.1em;
}

.indent20 {
	padding-left: 20px;
}

.outent20 {
	margin-left: 20px;
}

#mobile {
	margin: 10px 20px 10px 20px;
}

#menubar {
	font-weight: bold;
	padding: 0px;
	width: 100%;
	background-color: #DDD;
}

#menubar td {
	float: left;
}

#menubar a {
	text-decoration: none;
	color: #333;
	margin: 0px 5px 0px 5px;
	padding: 0px 10px 2px 10px;
	cursor: pointer;
	-moz-border-radius: 5px;
	border-radius: 10px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

#menubar a:hover {
	background-color: #AAA;
}

.neutral {
	background-color: #EEF;
	color: #050;
}

.success {
	background-color: #CFC;
	color: #050;
}

.error {
	background-color: #FCC;
	color: #800;
}

.comment {
	font-style: italic;
	font-size: 0.75em;
	max-width: 500px;
}



#select_event_type {
	font-size: 1em;
}

#event_type,
#event_parameters,
#conditions,
#action_parameters {
	margin-left: 20px;
}

#event_trigger_params {
	padding-top: 10px;
}

#input_id {
	font-size: 1em;
}

#params_col {
	padding-top: 15px;
	padding-left: 15px;
}

#tableParams td:first-child { 
	width: 10px;
}

#tableParams input.textinput { 
	width: 150px;
	margin-left: 10px;
}

#selected_actions td {
	vertical-align: top;
}

#selected_actions .title {
	font-size: 0.9em;
	font-weight: bold;
}

.funcMappings {
	padding-left: 20px;
	font-size: 0.75em;
}

#tableRules tr {
	margin-bottom: 10px;
}

#log_col {
	padding-left: 20px;
	border-left: double #666;
}

.underlined {
	padding-left: 10px;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}
*/
.dialog {
	visibility: hidden;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #F5F5CA;
	max-width: 600px;
	border: 3px dashed red;
	border-radius: 10px;
	padding: 20px;
}

.window h3 {
	margin: 5px 0px 5px 0px;
}