body {
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	margin: 5px 1px;
	padding: 5px 1px;
}

h1 { font-size: 2.1em }
h2 { font-size: 1.8em }
h3 { font-size: 1.5em }
h4 { font-size: 1.2em }
h5 { font-size: 1.1em }

h2 {
	margin-left: -10px;
	padding: 5px;
	background: #e7e7e7;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
}

h2.capitalized::first-letter {
	font-size: 1.5em;
	font-weight: bold;
}

th {
	white-space: nowrap;
	padding-right: 10px;
}

.row.bannerrow {
	padding-bottom: 0;
}
.banner {
	padding: 30px;
	background: #a5d7d2;
}

#bannerimg {
	max-height: 77.8px;
}

nav.navbar {
	background: #2D373C;
	min-height: 0;
	margin-bottom: 0;
}
.important{ text-decoration: underline }
.nav.navbar-nav>li { transition: .5s }
.nav.navbar-nav>li>a {
	transition: .5s;
	color: #FFF;
	padding-top: 7px;
	padding-bottom: 7px;
}
.nav.navbar-nav>li.arrow { 
	padding: 7px 4px;
	color: #FFF;
}
.nav.navbar-nav>li.arrow:hover { background: #2D373C }
.nav.navbar-nav>li:hover>a { color: #2D373C }
.nav.navbar-nav>li:hover { background: #FFF }
.nav.navbar-nav>li>a:focus { color: #d20537 }
/*.nav.navbar-nav>li.active>a {
	background: #d20537;
	color: #FFF;
}*/

.navbar-toggle {
	margin-left: 1%;
	float: left;
}

.infoticker {
	height: 1.5em;
	padding-left: 20px;
	font-family: Tahoma, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	color: #fff;
}

.error {
	background: #d20537;
	color: #FFF;
}

.success {
	background: #a5d7d2;
	color: #2D373C;
}

.row { padding-bottom: 10px }

.smallpadded td { padding: 3px }
.mediummarged { margin: 6px }
.bigmargeleft { margin-left: 20px }
.smallmarged { margin: 3px }

input.consoled {
	margin: 6px 4px;
}
.consoled {
	font-family: "Lucida Console", Monaco, monospace;
}

table .centered { text-align: center }
table.padded td { padding: 2px }
table.padded .highlight {
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
	padding-right: 20px;
}

table.mystyle>tbody>tr { border-top: 1px solid #DDD }
table.mystyle>tbody>tr:nth-child(even) { background: #F8F8F8 }
table.mystyle td { padding-right: 8px }

.hundredwide { width: 100% }
.seventywide { width: 70% }
.mediumfont { font-size: 0.85em }
.smallfont { font-size: 0.75em }
.nowrap { white-space: nowrap }

#log_col {
	visibility: hidden;
}

#log_col ul {
	padding: 5px;
	border: 1px dotted #444;
	max-height: 600px;
	overflow: auto;
}
#log_col li {
	list-style-type: none;
}

#mainbody {
	padding-left: 2%;
	padding-right: 2%;
}

.editorSettings {
	padding-left: 20px;
	font-size: 0.8em;
}
.editorSettings button, .editorSettings select {
	border: 1px solid #999;
	border-radius: 1px;
	padding: 2px;
}
#editor {
	border: 1px solid lightgray;
	width: 100%;
}
#editor.modules { height: 400px }
#editor.readonly {
	background: #eeeeee;
	opacity: 0.5;
}

#loginTable {
	float: left;
	text-align: center;
	margin-top: 15px;
	margin-left: 50px;
}
#loginTable td { padding: 3px 4px }

.mytooltip {
	font-family: Tahoma, sans-serif;
	position: relative
}
.mytooltip > div {
	visibility: hidden;
	position: absolute;
	left: -7px;
	top: 7px;
	min-width: 400px;
	max-width: 600px;
	overflow: hidden;
	font-size: 12px;
	margin: 5px;
	padding: 7px 14px;
	line-height: 120%;
	background: #FFF;
	border: 1px solid #666;
	border-radius: 3px;
	box-shadow: 0 0 5px #a5d7d2;
	opacity: 0;
	z-index: 20;
}
.mytooltip .title {
	font-weight: bold;
	font-size: 1.3em;
}
.mytooltip li { 
	padding: 1px;
}
.mytooltip kbd { 
	font-size: 0.8em;
	padding: 1px 3px;
}
kbd { 
	white-space: nowrap;
}
.mytooltip .attention { 
	color: firebrick;
	text-decoration: underline;
}

#table_webhooks td { padding-right: 10px }

#tabletl button { width: 120px }
#tabletl td {
	font-size: 0.9em;
	padding-left: 15px;
	padding-top: 5px;
}

.float-div { float: left }
.thirtyhigh { height: 30px }

.twohundred-wide {
	height: 40px;
	width: 220px;
}

.icon.info { margin-left: 10px }
.icon.del { margin: 0px 3px }
.icon.info, .icon.edit, .icon.del, .icon.log { cursor: pointer }
#tls select, #tls input { margin: 3px }
#tls select { margin: 10px 5px }

#but_rule { margin-left: 3px }

.empty {
	padding: 30px;
	background-color: #FCB;
}

.spin { animation: spin 1.5s infinite linear }

@keyframes spin {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.jumping {
	width: 18px;
	position: relative;
}
.jumping img {
	position: absolute;
    animation: jump 0.3s infinite alternate;
}
@keyframes jump {
    from { bottom: 2px }
    to { bottom: 7px }
}


input.readonly {
	color: #888;
	background: #eeeeee
}
input[type=text],
input[type=password] {
	transition: all 0.30s ease-in-out;
	outline: none;
	padding: 2px 0px 2px 3px;
	margin: 2px 1px 2px 0px;
	border: 1px solid #DDDDDD;
}
input[type=text]:focus,
input[type=password]:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 2px 0px 2px 3px;
	margin: 2px 1px 2px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.dialog {
	visibility: hidden;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #F5F5CA;
	max-width: 600px;
	border: 3px dashed red;
	border-radius: 10px;
	padding: 20px;
}

.carousel {	background: #2D373C }
.carousel .item img {
	width: auto;
	overflow: hidden;
	margin: 0 auto;
}
.text-top-image {
	font-size: 2em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	margin: 0 auto;
	color: #FFF;
	z-index: 100;
}
.carousel-indicators li { background-color: rgba(45, 55, 60, 0.6) }
.carousel-indicators li.active { background-color: rgba(210, 5, 55, 0.6) }