
h1 {
	margin-top: 5px;
	font-size: 2.1em;
}

h2 {
	font-size: 1.8em;
	margin-top: 10px;
	margin-left: -10px;
	padding: 5px;
	background: #e7e7e7;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
}

h2.capitalized::first-letter {
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	font-size: 1.5em;
	padding-top: 10px;
}

h4 {
	font-size: 1.2em;
	padding-top: 10px;
}

h5 {
	font-size: 1.1em;
	padding-top: 7px;
}

th {
	white-space: nowrap;
	padding-right: 10px;
}

.row.bannerrow {
	padding-bottom: 0;
}
.banner {
	padding: 30px;
	background: #a5d7d2;
}

#bannerimg {
	max-height: 77.8px;
}

nav.navbar {
	background: #2D373C;
	min-height: 0;
	margin-bottom: 0;
}
.nav.navbar-nav>li { transition: .5s }
.nav.navbar-nav>li>a {
	transition: .5s;
	color: #FFF;
	padding-top: 7px;
	padding-bottom: 7px;
}
.nav.navbar-nav>li:hover>a { color: #2D373C }
.nav.navbar-nav>li:hover { background: #FFF }
.nav.navbar-nav>li>a:focus { color: #d20537 }
/*.nav.navbar-nav>li.active>a {
	background: #d20537;
	color: #FFF;
}*/

.navbar-toggle {
	margin-left: 1%;
	float: left;
}

.infoticker {
	height: 1.5em;
	padding-left: 20px;
	font-family: Tahoma, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	color: #fff;
}

.error {
	background: #d20537;
	color: #FFF;
}

.success {
	background: #a5d7d2;
	color: #2D373C;
}

.infoimg {
	cursor: pointer;
	margin-left: 10px;
	width: 17px;
	height: auto;
	content: url("/images/info.png")
}

.row { padding-bottom: 10px }

.smallpadded { padding: 3px }
.mediummarged { margin: 6px }
.bigmargeleft { margin-left: 20px }
.smallmarged { margin: 3px }

input.consoled {
	margin: 6px 4px;
	font-family: "Lucida Console", Monaco, monospace;
}

table .centered { text-align: center }
table.padded td { padding: 2px }
table.padded .highlight {
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
	padding-right: 20px;
}

.hundredwide { width: 100% }
.seventywide { width: 70% }
.mediumfont { font-size: 0.85em }
.smallfont { font-size: 0.75em }
.nowrap { white-space: nowrap }

#mainbody {
	padding-left: 2%;
	padding-right: 2%;
}

.editorSettings {
	padding-left: 20px;
	font-size: 0.8em;
}
.editorSettings button, .editorSettings select {
	border: 1px solid #999;
	border-radius: 1px;
	padding: 2px;
}
#editor {
	border: 1px solid lightgray;
	width: 100%;
}
#editor.modules { height: 400px }

#loginTable {
	float: left;
	text-align: center;
	margin-top: 15px;
	margin-left: 50px;
}
#loginTable td { padding: 3px 4px }

.mytooltip { position: relative }
.mytooltip > div {
	visibility: hidden;
	position: absolute;
	left: -7px;
	top: 7px;
	min-width: 300px;
	max-width: 600px;
	overflow: hidden;
	font-size: 12px;
	margin: 5px;
	padding: 7px 14px;
	background: #FFF;
	border: 1px solid #666;
	border-radius: 3px;
	box-shadow: 0 0 5px #a5d7d2;
	opacity: 0;
	z-index: 20;
}
.mytooltip .title {
	font-weight: bold;
	font-size: 1.3em;
}
.mytooltip kbd { font-size: 0.8em }

#table_webhooks td { padding-right: 10px }

#tabletl button { width: 120px }
#tabletl td {
	font-size: 0.9em;
	padding-left: 15px;
	padding-top: 5px;
}

.float-div { float: left }
.thirtyhigh { height: 30px }

.twohundred-wide {
	height: 40px;
	width: 220px;
}

div.img {
	float: left;
	padding: 0px 4px
}
.img.tl.red { content: url( "/images/tl_red.png" ) }
.img.tl.green { content: url( "/images/tl_green.png" ) }
.img.del, .img.log { cursor: pointer }
.img.del { 
	margin-top: 3px;
	content: url("/images/red_cross_small.png")
}
.img.edit { content: url("/images/edit.png") }

#tls select, #tls input { margin: 3px }
#tls select { margin-top: 6px }

#but_rule { margin-left: 3px }

.empty {
	padding: 30px;
	background-color: #FCB;
}

.spin { animation: spin 1.5s infinite linear }

@keyframes spin {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

input[type=text],
input[type=password] {
	transition: all 0.30s ease-in-out;
	outline: none;
	padding: 2px 0px 2px 3px;
	margin: 2px 1px 2px 0px;
	border: 1px solid #DDDDDD;
}
input[type=text]:focus,
input[type=password]:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 2px 0px 2px 3px;
	margin: 2px 1px 2px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.dialog {
	visibility: hidden;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #F5F5CA;
	max-width: 600px;
	border: 3px dashed red;
	border-radius: 10px;
	padding: 20px;
}
.window h3 { margin: 5px 0px 5px 0px }
