.legend {
	padding-left: 20px;
}

svg {
	width: 100%;
	height: 300px;
	font-size: 0.7em;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line { fill: none; }

.heapTotal {
	color: coral;
	stroke: coral;
}
.heapUsed {
	color: lightcoral;
	stroke: lightcoral;
}
.rss {
	color: lightslategrey;
	stroke: lightslategrey;
}
.load {
	color: limegreen;
	stroke: limegreen;
}
.load text {
	stroke: none;
	fill: limegreen;
}
.axis.load path,
.axis.load line {
	stroke: limegreen;
}
