

#divConditions {
    display: inline-block;
    width: 100%;
}
#divConditionsEditor {
	float: left;
	border: 1px solid lightgray;
	margin: auto;
	height: 150px;
	width: 500px;
}

#actionSection { visibility: hidden }

#actionSection td {
	padding-left: 1px;
	vertical-align: top;
}

#actionSection>table>tr:nth-child(even) { background: #EDF }
#actionSection>table>tr:nth-child(odd) { background: #DFD }
#actionSection>table>tr>td:first-child { padding-right: 8px }
#actionSection .bullet { padding: 0px 8px 0px 8px }

#actionSection button {
	padding: 0px 1px;
	margin: 1px 1px 1px 10px;
	font-size: 0.75em;
}

#selectedActions { visibility: hidden }
#selectedActions h4, #selectedActions h5 { 
	font-weight: bold;
	padding-top: 5px
}
#selectedActions input { width: 100% }

.firstlevel { padding: 2px }
.firstlevel:nth-child(even) { background: #EDF }
.firstlevel:nth-child(even) .actions { border: 1px solid #EDF }
.firstlevel:nth-child(odd) { background: #DFD }
.firstlevel:nth-child(odd) .actions { border: 1px solid #DFD }
.firstlevel:nth-child(even) .actions:nth-child(even) { background: #1DD }
.firstlevel:nth-child(even) .actions:nth-child(odd) { background: #A1A }
.firstlevel:nth-child(odd) .actions:nth-child(even) { background: #DD1 }
.firstlevel:nth-child(odd) .actions:nth-child(odd) { background: #A8A }