
body {
  font-family: 'Roboto', sans-serif, "Times New Roman", Georgia, Serif;
  /*font-size: 0.9em;*/
  margin: 0px;
  background-color: #EEF;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=text],
input[type=password] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 2px 0px 2px 3px;
  margin: 2px 1px 2px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus,
input[type=password]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 2px 0px 2px 3px;
  margin: 2px 1px 2px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

button {
  font-size: 1.1em;
}

.indent20 {
  padding-left: 20px;
}

.outent20 {
  margin-left: 20px;
}

#mobile {
  margin: 10px 20px 10px 20px;
}

#menubar {
	/*font-size: 0.85em;*/
  font-weight: bold;
	padding: 0px;
  width: 100%;
	background-color: #DDD;
}

#menubar td {
  float: left;
  margin: 0px 5px 0px 5px;
  padding: 0px 10px 2px 10px;
  cursor: pointer;
  -moz-border-radius: 5px;
  border-radius: 10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

#menubar td:hover {
  background-color: #AAA;
}

#info {
  height: 20px;
  padding-left: 20px;
  line-height: 2em;
  font-family: Tahoma, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
}

.neutral {
  background-color: #EEF;
  color: #050;
}

.success {
  background-color: #CFC;
  color: #050;
}

.error {
  background-color: #FCC;
  color: #800;
}

#mainbody {
  padding-left: 50px;
  padding-right: 50px;
}

#pagetitle {
	font-size: 1.6em;
	font-weight: bold;
  padding-top: 0px;
  padding-bottom: 5px;
}

#select_event_type {
  font-size: 1em;
}

#event_type,
#event_parameters,
#conditions,
#action_parameters {
  margin-left: 20px;
}

#event_poller_params {
  padding-top: 10px;
}

#input_id {
  font-size: 1em;
}

#editor_mode {
  margin-right: 15px;
}

#editor_table {
  width: 100%;
}

#editor_col {
  width: 70%;
}

#editor {
  float: left;
  position: relative !important;
  border: 1px solid lightgray;
  margin: auto;
  height: 500px;
  width: 100%;
}

#editor_conditions {
  float: left;
  border: 1px solid lightgray;
  margin: auto;
  height: 150px;
  width: 500px;
}

#params_col {
  padding-top: 15px;
  padding-left: 15px;
}

#tableParams td:first-child { 
  width: 10px;
}

#tableParams input.textinput { 
  width: 150px;
  margin-left: 10px;
}

#selected_actions td {
  vertical-align: top;
}

#selected_actions .title {
  font-size: 0.9em;
  font-weight: bold;
}

.funcMappings {
  padding-left: 20px;
  font-size: 0.75em;
}

#tableRules tr {
  margin-bottom: 10px;
}

#log_col {
  padding-left: 20px;
  border-left: double #666;
}

.underlined {
  padding-left: 10px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

