
body {
  font-family: 'Roboto', sans-serif, "Times New Roman", Georgia, Serif;
  /*font-size: 0.9em;*/
  margin: 0px;
  background-color: #EEF;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

#menubar {
	/*font-size: 0.85em;*/
  font-weight: bold;
	padding: 2px 2px 4px 2px;
	height: 1em;
	background-color: #DDD;
}

#menubar div {
  height: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  cursor: pointer;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

#menubar div:hover {
  background-color: #AAA;
}

#info {
  padding-left: 20px;
  line-height: 2em;
  font-family: Tahoma, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
}

.success {
  background-color: #CFC;
  color: #050;
}

.error {
  background-color: #FCC;
  color: #800;
}

#mainbody {
  padding-left: 50px;
  padding-right: 50px;
}

#pagetitle {
	font-size: 2em;
	font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

#editor_mode {
  margin-right: 15px;
}

#editor_table {
  width: 100%;
}

#editor_col {
  width: 70%;
}

#editor {
  float: left;
  position: relative !important;
  border: 1px solid lightgray;
  margin: auto;
  height: 500px;
  width: 100%;
}

#editor_conditions {
  float: left;
  border: 1px solid lightgray;
  margin: auto;
  height: 100px;
  width: 400px;
}

#params_col {
  padding-top: 15px;
  padding-left: 15px;
}

#tableParams td:first-child { 
  width: 10px;
}

#tableParams input { 
  width: 150px;
  margin-left: 10px;
}

#tableRules tr {
  margin-bottom: 10px;
}

#log_col {
  padding-left: 20px;
  border-left: double #666;
}

.underlined {
  padding-left: 10px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

