
body {
  font-family: sans-serif, "Times New Roman", Georgia, Serif;
  font-size: 80%;
  margin: 0px;
}

textarea {
	font-family: Tahoma, sans-serif;
  font-size: 0.9em;
	-moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

#menubar {
	font-size: 0.75em;
	width: 100%;
	padding: 2px;
	height: 1em;
	background-color: #DDD;
}

#menubar div {
  height: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#info {
  padding-left: 10px;
  padding-top: 30px;
  font-family: Tahoma, sans-serif;
  font-size: 0.75em;
  color: #F33;
}

#menubar div:hover {
	background-color: #AAA;
}

#mainbody {
	padding: 5px;
}

#pagetitle {
	font-size: 1.5em;
	font-weight: bold;
}

#div_left {
  float: left;
}

#div_middle li {
  font-size: 78%;
  list-style-type: none;
}

#div_right li {
  font-size: 78%;
  list-style-type: none;
}
#editor { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
