{% extends 'skeleton.html' %}

{% block head %}
	<script src="/js/lib/sha3.js"></script>
	<script src="/js/admin.js"></script>
{% endblock %}

{% block pagetitle %}Administration{% endblock %}

{% block content %}
	<h2>Create User:</h2>
	<table class="padded">
		<tr>
			<td>Username</td>
			<td>:</td>
			<td><input id="user" class="consoled" type="text"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td>:</td>
			<td><input id="pw" class="consoled" type="password"></td>
		</tr>
		<tr>
			<td>is Admin</td>
			<td>:</td>
			<td><input id="admin" class="consoled" type="checkbox"></td>
		</tr>
		<tr>
			<td colspan="3" style="text-align:center"><button id="but_submit">Create</button></td>
		</tr>
	</table>
	<h2>Manage Users:</h2>
	<table id="users" class="smallfont padded"></table>
{% endblock %}
