{% extends 'skeleton.html' %}

{% block head %}
	<script src="/js/lib/cryptico.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/lib/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/list_ad.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/css/modules.css">
{% endblock %}

{% block pagetitle %}Action Dispatcher{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-7">
			<a href="/views/modules_create?m=ad">Create a new Action Dispatcher!</a>
			<table id="tableModules" class="mystyle smallpadded">
				<thead><tr>
					<th></th>
					<th></th>
					<th>Name</th>
					<th>Owner</th>
				</tr></thead>
				<tbody></tbody>
			</table>
		</div>
		<div id="moduleparams" class="col-xs-5">
			<h3>Required Module Params</h3>
			<table class="mystyle smallpadded">
				<tbody></tbody>
			</table>
			<button onclick="start()">start</button>
		</div>
	</div>
</div>
{% endblock %}
