{% extends 'skeleton.html' %}

{% block head %}
    <script src="js/lib/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/modules_edit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
	<h3>Available Modules:</h3>
	<table id="tableModules"></table>
	TODO: Enable timing for event pollers!
{% endblock %}


<!-- 
domInputEventTiming = $( '<div>' ).attr( 'class', 'indent20' )
$( '<div>' ).attr( 'class', 'comment' ).appendTo domInputEventTiming
table = $( '<table>' ).appendTo domInputEventTiming
tr = $( '<tr>' ).appendTo table
tr.append $( '<td>' ).text "Start Time : "
tr.append $( '<td>' ).append $( '<input>' ).attr( 'id', 'input_start' ).attr( 'type', 'text' )
tr.append $( '<td>' ).html " <b>\"hh:mm\"</b>, default = Immediately"

tr = $( '<tr>' ).appendTo table
tr.append $( '<td>' ).text "Interval : "
tr.append $( '<td>' ).append $( '<input>' ).attr( 'id', 'input_interval' ).attr( 'type', 'text' )
tr.append $( '<td>' ).html " <b>\"days hours:minutes\"</b>, default = 10 minutes"

domEventTriggerParameters = $( '<div>' ).attr 'id', 'event_trigger_params'
 -->