{% extends 'skeleton.html' %}

{% block head %}
    <script src="/js/lib/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/modules.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block pagetitle %}<span class="moduletype"></span>{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<a id="linkMod">Create a new <span class="moduletype"></span>!</a>
		<table id="tableModules" class="mystyle">
			<thead><tr>
				<th></th>
				<th></th>
				<th>Name</th>
				<th>Owner</th>
			</tr></thead>
			<tbody></tbody>
		</table>
	</div>
</div>
{% endblock %}
