{% extends 'skeleton.html' %}

{% block head %}
	<script src="/js/lib/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/js/lib/moment.min.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap-datetimepicker.min.js"></script>
	<script src="/js/modules_create.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/modules.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
	<script type="text/template" id="etSource">
# A simple Hello World code block
exports.pollHelloWorld = () ->
	log 'Hello World!'
	</script>
	<script type="text/template" id="adSource">
# A simple Hello World code block
exports.sayHelloWorld = () ->
	log 'Hello World!'
	</script>

{% endblock %}

{% block pagetitle %}<span id="pagetitle"></span>{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<h2>Name: <input id="input_id" type="text" /></h2>
	</div>

	<div id="schedule" class="row">
		<h2>Schedule</h2>
		<div class="col-sm-6">
			<h3 class="floater">Start</h3>
			<div class="form-group">
				<div class='input-group date' id='datetimePicker'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<h3 class="floater">Interval</h3>
			<div class="col-sm-3 timepicker">
				Day(s): <br>
				<select id="pickDays">
					<option>0</option>
					<option>1</option>
					<option>2</option>
				</select>
			</div>
			<div class="col-sm-3 timepicker">
				Hour(s): <br>
				<select id="pickHours">
					<option>0</option>
					<option selected>1</option>
					<option>2</option>
					<option>4</option>
					<option>8</option>
					<option>12</option>
					<option>16</option>
				</select>
			</div>
			<div class="col-sm-3 timepicker">
				Minute(s): <br>
				<select id="pickMinutes">
					<option>0</option>
					<option>5</option>
					<option>10</option>
					<option>20</option>
					<option>40</option>
				</select>
			</div>
			<div class="col-sm-3 timepicker">
				Second(s): <br>
				<select id="pickSeconds">
					<option>0</option>
					<option>5</option>
					<option>10</option>
					<option>20</option>
					<option>40</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<h2 id="programcode">Program Code</h2>
		<div class="col-sm-9">
			<div class="row">
				<div id="editor" class="modules"></div>
			</div>
			<div class="row editorSettings">
				Theme: 
				<select id="editor_theme">
					<option value="monokai">Monokai</option>
					<option value="crimson_editor" selected>Crimson Editor</option>
				</select>
				Font Size: 
				<select id="editor_font">
					<option>10px</option>
					<option>11px</option>
					<option>12px</option>
					<option>13px</option>
					<option selected>14px</option>
					<option>15px</option>
					<option>16px</option>
					<option>18px</option>
					<option>20px</option>
					<option>24px</option>
				</select>
				<select id="editor_mode">
					<option>CoffeeScript</option>
					<option>JavaScript</option>
				</select>
			</div>
		</div>
		<div class="col-sm-3">
			This module requires user-specific properties:
			<table id="tableParams"></table>
		</div>
	</div>
	<div class="row">
		<button id="but_submit">save</button>
	</div>
</div>
{% endblock %}
