{% extends 'skeleton.html' %}

{% block head %}
	<script src="/js/process.js"></script>
	<script src="/js/lib/dimple.v2.1.2.min.js"></script>
	<script src="/js/lib/firebase.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/process.css">
{% endblock %}

{% block title %}Worker{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<h1 class="text-center">Worker Monitoring</h1>
		<span class="heapTotal legend">- Heap Total</span>
		<span class="heapUsed legend">- Heap Used</span>
		<span class="rss legend">- Resident Set Size</span>
		<span class="load legend">- CPU</span>
		<svg id="processes-svg" data-admin="{{isAdmin}}" data-user="{{username}}">
		</svg>
	</div>
</div>
{% endblock %}
