{% extends 'skeleton.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/rules.css">
	<script src="/js/lib/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lib/cryptico.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/rules_create.js"></script>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<h3>Rule Name : <input id="input_id" type="text" value="My new Rule"></h3>
		</div>

		<div class="row">
			<h2 class="capitalized">EVENT</h2>
			<div id="selectWebhook"></div>
		</div>

		<div class="row">
			<h2 class="capitalized">CONDITIONS</h2>
			<select id="editor_theme">
				<option value="monokai">Monokai</option>
				<option value="crimson_editor" selected>Crimson Editor</option>
			</select>
			<select id="editor_font">
				<option>10px</option>
				<option>11px</option>
				<option>12px</option>
				<option>13px</option>
				<option>14px</option>
				<option>15px</option>
				<option selected>16px</option>
				<option>18px</option>
				<option>20px</option>
				<option>24px</option>
			</select>
			<div id="conditions">
			Refer to <a target="_blank" href="https://github.com/harthur/js-select#selectors">js-select selectors</a> for valid selectors!<br>
				<div id="divConditions">
					<div id="divConditionsEditor">
	[ ]
</div>
				</div>
			</div>
			<button class="outent20" id="fill_example">Fill with example condition</button>
		</div>

		<div class="row">
			<h2 class="capitalized">ACTIONS</h2>
			<div id="actionSelection"></div>
		</div>

		<div class="row">
			<button id="but_submit">Save Rule</button>
		</div>
	</div>

{% endblock %}
