{% extends 'skeleton.html' %}

{% block head %}
	<script src="/js/webhooks.js"></script>
{% endblock %}

{% block pagetitle %}Webhooks{% endblock %}

{% block content %}
	<p>Event Name: <input type="text" id="inp_hookname" /></p>
	<p>Events over this Webhook are available to all users : <input type="checkbox" id="inp_public" /></p>
		<button type="button" id="but_submit">Create!</button>
	<div class="row" id="display_hookurl">
	</div>
	<div class="row" id="display_hookurl"></div>
	<div class="row" id="table_webhooks"></div>
{% endblock %}
