Action Invoker Name: <input id="input_id" type="text" />
<select id="editor_mode">
	<option value="0">CoffeeScript</option>
	<option value="1">JavaScript</option>
</select> is public: <input type="checkbox" id="is_public" />
<table id="editor_table">
	<tr>
		<td id="editor_col" valign="top">
<div id="editor">
#
# ProBinder Action Invoker
#
# Action Invoker requires user params:
#  - username: The ProBinder login username
#  - password: The ProBinder login password
#

#
# createBinderEntry function requires arguments:
#
#  - company: The ProBidner company of the binder
#  - context: The ProBinder context (the binder ID)
# 
exports.createBinderEntry = ( args ) ->
  url = 'https://probinder.com/service/27/save'

  credentials =
    username: params.username
    password: params.password

  data =
    companyId: args.company
    context: args.context
    text: args.content

  needle.post url, data, credentials, ( err, resp, body ) ->
    if err
      log err
    if resp.statusCode isnt 200
      log 'Request not successful:'
      log body
</div>
  <button id="but_submit">save</button>
		</td>
		<td id="params_col" valign="top">
This action invoker requires user-specific properties:
<table id="tableParams">
	<tr>
		<td><img src="red_cross_small.png"></td>
		<td><input type="text" value="username" /></td>
	</tr>
	<tr>
		<td><img src="red_cross_small.png"></td>
		<td><input type="text" value="password" /></td>
	</tr>
	<tr>
		<td><img src="red_cross_small.png"></td>
		<td><input type="text" /></td>
	</tr>
</table>
		</td>
	</tr>
</table>