<h2>Rule Name : <input id="input_id" type="text" value="My new Rule"></h2>

<h2>EVENT</h2>
<div id="event_type">
	<h4>Event Type : 
	<select id="select_event_type">
		<option></option>
		<option>Custom Event</option>
		<option>Webhook</option>
		<option>Event Poller</option>
	</select>
	</h4>
</div>
<div id="event_parameters"></div>

<table>
<tr><td>
<h2>CONDITIONS</h2>
<div id="conditions">
Refer to <a target="_blank" href="https://github.com/harthur/js-select#selectors">js-select selectors</a> for valid selectors!<br>
	<div id="editor_conditions">
[
	{
	    "selector": ".nested_property",
	    "type": "string",
	    "operator": "<=",
	    "compare": "has this value"
	}
]
	</div>
</div>
<button class="outent20" id="fill_example">Fill with example condition</button>
</td></tr>
<tr><td>

	<h2>ACTIONS</h2>
	<select id="select_actions"><option></option></select>
	<br><br>
	<div id="action_parameters"></div>
	<br><br>
	<button id="but_submit">Save Rule</button>
</td></tr></table>
