<h2>Rule Name: <input id="input_id" type="text" /></h2>

<h2>EVENT</h2>
<b>Event Type:</b>
<select id="select_event_type">
	<option></option>
	<option>Custom Event</option>
	<option>Webhook</option>
	<option>Event Poller</option>
</select>
<div id="event_parameters"></div>

<h2>CONDITIONS</h2>
Refer to <a target="_blank" href="https://github.com/harthur/js-select#selectors">js-select selectors</a> for valid selectors! ( only the first matching element will be returned )
<table>
<tr><td>
	<div id="editor_conditions">
[
	{
	    "selector": ".nested_property",
	    "type": "string",
	    "operator": "<=",
	    "compare": "has this value"
	}
]
	</div>
</td></tr>
<tr><td>

	<h2>ACTIONS</h2>
	<select id="select_actions"><option></option></select>
	<br><br>
	<div id="action_parameters"></div>
	<button id="but_submit">save</button>
</td></tr></table>
