<b>Rule Name: </b><input id="input_id" type="text" /><br>
<h2>EVENT</h2>
<select id="select_event"><option></option></select><br/>
<input id="input_event" type="text" /><br/><br/>
<div id="event_start"></div>
<div id="event_interval"></div><br/>
<div id="event_poller_params"></div>
<br>
<h2>CONDITIONS</h2>
Refer to <a target="_blank" href="https://github.com/harthur/js-select#selectors">js-select selectors</a> for valid selectors! ( only the first matching element will be returned )
<table>
<tr><td>
	<div id="editor_conditions">
[
	".nested_property:val(\"has this value\")"
]
	</div>
</td></tr>
<tr><td>
	<h2>ACTIONS</h2>
	<select id="select_actions"><option></option></select>
	<br><br>
	<b>Selected Actions:</b>
	<table id="selected_actions"></table>
	<br><br>
	<b>Required Parameters:</b>
	<br><br>
	<div id="action_params"></div>
	<br><br>
	<button id="but_submit">save</button>
</td></tr></table>
